<!--
 * @Descripttion: 
 * @version: 
 * @Author: Wynters
 * @Date: 2021-04-27 14:30:27
 * @LastEditors: Wynters
 * @LastEditTime: 2021-05-06 04:36:50
-->
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="docsearch:language" content="cn">
    <title>出错啦</title>
</head>

<body>
    <div style="width: 80%;margin: 0 auto;margin-top: 100px;" align="center">
        <div><img src="/static/img/img.png" style="width: 50%;" /></div>
        <h2>请使用PC端打开本系统</h2>
    </div>
</body>

</html>